.articleSection {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.contentWrapper {
  flex: 2.8;
  padding: 2em 4em;
  border-right: 1px solid #0d253c;
}
.articleTitle {
  font-size: 2.785em;
  text-transform: capitalize;
  margin-top: 0;
  width: 764px;
}
.wrapper,
.authorDateWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.75em;
}
.wrapper {
  width: 764px;
}
.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.92em;
}
.separateIcon {
  font-size: 0.325em;
  margin-top: 1em;
}
.bookmarkIconLg {
  font-size: 1.3em;
  margin-right: 1em;
  cursor: pointer;
}
.articleAuthorLg {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  margin-top: 0.3em;
}
.articleAuthorLg p {
  margin: 0.35em 0.5em;
  font-weight: bold;
  font-size: 1.15em;
}
.authorPictureLg {
  border-radius: 50%;
}
.dateArticle {
  margin-top: 1.54em;
}
.articleImage {
  object-fit: cover;
}

.articleContent {
  /* background-color: darkorange; */
  width: 764px;
  margin-top: 2em;
}
.descriptionArticle {
  font-size: 1.576em;
  margin: 0;
  margin-bottom: 2em;
}
.paragrafArticle {
  font-size: 1.154em;
  line-height: 1.34em;
}

.additionalInfo {
  flex: 1.2;
  height: 35vh;
  position: sticky;
  top: 12vh;
  /* background-color: darkorange; */
  padding-left: 1em;
}

/* ----------------------- author card start here ---------------------- */
.authorDetails {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.authorImg {
  border-radius: 50%;
}
.authorInfo {
  display: flex;
  flex-direction: column;
  margin-left: 0.75em;

  width: 225px;
  height: 78px;
}
.authorName {
  font-weight: bold;
  font-size: 1.075em;
  margin: 0.35em 0;
}
.authorAbout {
  font-size: 0.875em;
  margin: 0;
}
/* ----------------------- author card end here ---------------------- */

.btnAuthor {
  margin-top: 0.45em;
  padding: 0.5em 2em;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}
