.listArticlesSection {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.articlesWrapper {
  flex: 2.8;
  border-right: 1px solid #0d253c;
  margin-left: 4em;
  padding: 2em 0;
}
.searchArticle {
  flex: 1.2;
  height: 40vh;
  width: 100%;
  position: sticky;
  top: 12vh;
  padding-left: 1em;
  /* background-color: darkorange; */
}
.inputSearchArticle {
  outline: none;
  width: 84%;
  padding: 0.76em 1.95em;
  font-size: 0.92em;
  border: 1px solid #0d253c;
  border-radius: 5px;
}
.inputSearchArticle:focus-within {
  border: 1px solid #bfa2db;
}
.inputSearchArticle::placeholder {
  font-family: "Avenir";
}

.searchIcon {
  position: absolute;
  font-size: 1.3em;
  margin: 0.4em 0.3em;
}
.closeIcon {
  position: absolute;
  font-size: 1.3em;
  margin: 0.4em 8em 0.4em 0;
  right: -4.78em;
}
