.loginContainer {
  height: 100vh;
  width: 100%;
  display: flex;
}

.loginSection {
  display: flex;
  justify-content: center;
}
.formContainer {
  height: 95%;
  width: 470px;
  border-radius: 8px;
  box-shadow: 0.5px 3px 6.5px rgb(152, 132, 153);

  display: flex;
  flex-direction: column;
  margin: auto;
}
.formContainer h2 {
  text-align: center;
  /* background-color: darkgoldenrod; */
}

.formInput {
  display: flex;
  flex-direction: column;
}
